@model IEnumerable<Clinica.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuario</h1>

<p>
    <a asp-action="Create" button class="btn btn-primary">Crear Nuevo</a>
</p>
<div class="courses">
    <div class="course">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdRolNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdRolNavigation.Id)
            </td>
            <td>
                     <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a asp-action="Edit" asp-route-id="@item.Id" button type="button" class="btn btn-success">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" button type="button" class="btn btn-info">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" button type="button" class="btn btn-danger">Eliminar</a>
                     </div>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
