@model IEnumerable<Clinica.Models.Especialidad>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<h1>Especialidad</h1>
<p>
        <a asp-action="Create" button class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.EspecialidadId" button type="button" class="btn btn-success">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.EspecialidadId" button type="button" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.EspecialidadId" button type="button" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
