@model IEnumerable<Clinica.Models.Receta>

@{
    ViewData["Title"] = "Index";
}
<h1>Receta</h1>
<!-- Mostrar mensaje de error -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<p>
    <a asp-action="Create">
        <button class="btn btn-primary">Crear Nueva Receta</button>
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico.DiagnosticoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nombre)
            </td>
            <td>
                   <div class="btn-group" role="group" aria-label="Basic outlined example">
                    <a asp-action="Edit" asp-route-id="@item.RecetaId" button type="button" class="btn btn-success">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.RecetaId" button type="button" class="btn btn-info">Detalle</a>
                    <a asp-action="Delete" asp-route-id="@item.RecetaId" button type="button" class="btn btn-danger">Eliminar</a>
                        <a asp-action="verpdf" asp-route-id="@item.RecetaId" class="btn btn-primary">Imprimir Receta</a>
                   </div>
            </td>
        </tr>
}
    </tbody>
</table>
