@model Clinica.Models.Receta

@{
    ViewData["Title"] = "Gestión de Recetas";
}

<h1>Gestión de Recetas</h1>


<form asp-controller="Receta" asp-action="RecetaView">

  <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">@Model.Fecha</li>
    <li class="list-group-item">@Model.Paciente.Nombre</li>
    <li class="list-group-item">@Model.Paciente.Apellido</li>
  </ul>
</div>


    <div class="col-md-8">
        <h4>Listado de Recetas</h4>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Fecha</th>
                    <th>Paciente</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var receta in Model.RecetaMedicamento)
                {
                    <tr>
                        <td>@receta.Receta.RecetaId</td>
                        <td>@receta.Receta.Fecha</td>
                        <td>@receta.Receta.Paciente</td>
                        <td>
                            <a class="btn btn-primary">
                                Imprimir PDF
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>

    <a asp-action="Index">Volver al listado</a>
</div>
 </form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
