@model IEnumerable<Clinica.Models.Historial>

@{
    ViewData["Title"] = "Index";
}
<h1>Asignar Especialidad</h1>

<p>
    <a asp-action="Create" button class="btn btn-primary">Asignación de Especialidad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paciente.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Nombre)
            </td>
            <td>
                        <a asp-action="Edit" asp-route-id="@item.HistorialId" button type="button" class="btn btn-success">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.HistorialId" button type="button" class="btn btn-info">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.HistorialId" button type="button" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

