@model Clinica.Models.Paciente

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="~/css/CRUD.css">
</head>
<h1>Eliminar</h1>

<h3>Seguro que quiere eliminar?</h3>
    <h4>Paciente</h4>
    <hr />
<div class="form-container">
    <div class="form-group">
        <label>Nombre:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Nombre)
        </div>
    </div>
    <div class="form-group">
        <label>Apellido:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Apellido)
        </div>
    </div>
    <div class="form-group">
        <label>Especialidad:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.EspecialidadId)
        </div>
    </div>
    <div class="form-group">
        <label>Fecha de Nacimiento:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </div>
    </div>
    <div class="form-group">
        <label>Dirección:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Direccion)
        </div>
    </div>
    <div class="form-group">
        <label>Teléfono:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Telefono)
        </div>
    </div>
    <div class="form-group">
        <label>Email:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
   

    <form asp-action="Delete">
        <input type="hidden" asp-for="PacienteId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        <a asp-action="Index" button type="button" class="btn btn-secondary">Regresar</a>
    </form>
</div>
