@model Clinica.Models.Paciente

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="~/css/formulario.css">
<h1>Detalle</h1>

    <h4>Paciente</h4>
    <hr />
<div class="form-container">
    <div class="form-card">
    <div class="form-group">
        <label>Nombre:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Nombre)
        </div>
    </div>
    <div class="form-group">
        <label>Apellido:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Apellido)
        </div>
    </div>
    <div class="form-group">
        <label>Fecha de Nacimiento:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </div>
    </div>
    <div class="form-group">
        <label>Dirección:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Direccion)
        </div>
    </div>
    <div class="form-group">
        <label>Teléfono:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Telefono)
        </div>
    </div>
    <div class="form-group">
        <label>Email:</label>
        <div class="form-value">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>
    

    <a asp-action="Edit" asp-route-id="@Model?.PacienteId" button type="button" class="btn btn-info">Editar</a>
    <a asp-action="Index" button type="button" class="btn btn-secondary">Regresar</a>
    </div>
</div>
