@model Clinica.Models.Medicamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Seguro que quiere Eliminar este Medicamento?</h3>
<div>
    <h4>Medicamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Frecuencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Frecuencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViaAdministracion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViaAdministracion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MedicamentoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresart</a>
    </form>
</div>
