@model IEnumerable<Clinica.Models.Medicamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Medicamento</h1>
<!-- Mostrar mensaje de error -->
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<p>
    <a asp-action="Create" button class="btn btn-primary">Crear Nuevo</a>
</p>

<div class="courses">
    <div class="course">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frecuencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViaAdministracion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frecuencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViaAdministracion)
            </td>
            <td>
                      
                            <a asp-action="Edit" asp-route-id="@item.MedicamentoId" button type="button" class="btn btn-success">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.MedicamentoId" button type="button" class="btn btn-info">Detalles</a>
                            <a asp-action="Delete" asp-route-id="@item.MedicamentoId" button type="button" class="btn btn-danger">Eliminar</a>
                          
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>