@model IEnumerable<Clinica.Models.Medicamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>

<div class="courses">
    <div class="course">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Frecuencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViaAdministracion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Frecuencia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViaAdministracion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MedicamentoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.MedicamentoId">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.MedicamentoId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>

<div class="sidebar-right">
    <div class="calendar">
        <h3>Nov 2020</h3>
        <p>13</p>
    </div>
    <div class="online-users">
        <h3>Online Users</h3>
        <ul>
            <li>Maren Maureen</li>
            <li>Jennifer Jane</li>
            <li>Ryan Herwids</li>
            <li>Kiera Culhane</li>
        </ul>
    </div>
</div>
